<h1>Listing mentee_participations</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mentee_participations.each do |mentee_participation| %>
      <tr>
        <td><%= link_to 'Show', mentee_participation %></td>
        <td><%= link_to 'Edit', edit_mentee_participation_path(mentee_participation) %></td>
        <td><%= link_to 'Destroy', mentee_participation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mentee participation', new_mentee_participation_path %>
