<h1>Listing classroom_lessons</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @classroom_lessons.each do |classroom_lesson| %>
      <tr>
        <td><%= link_to 'Show', classroom_lesson %></td>
        <td><%= link_to 'Edit', edit_classroom_lesson_path(classroom_lesson) %></td>
        <td><%= link_to 'Destroy', classroom_lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classroom lesson', new_classroom_lesson_path %>
