<h1>About Us</h1>
<p>The Carnegie Mellon Chapter of Moneythink is ranked as the 2nd most outstanding chapter nationally, only behind the founding chapter. We were founded in 2013 and currently have 55 members. We mentor in 8 sites throughout Pittsburgh. We also reach out to students with learning disabilities and foster care students as part of our mission. Not only do we mentor, but also we have Curriculum Enhancement Board which works on improving the curriculum and customizing it for each site.</p>

<p>
This year we are implementing Moneythink Mobile which is a mobile app that allows students to stay connected with mentors outside of the classroom! The exciting application releases challenges every week for the students to complete and provides access to instant mentor feedback. Contact us if you are interested in learning more about us, we'd love to hear from you!
</p>
