<div class="row">
  <h1>Welcome to CMU MoneyThink!</h1>
  <div class="small-6 columns">  
	
	<h5>Who are we?</h5>

	<p>We're a movement of young people working to restore the economic health of the United States through financial education.</p> 

	<h5>Mission</h5>
	<p>To expand economic opportunity in the United States by equipping high school youth to believe in themselves, navigate the financial decisions of adulthood, and achieve financial prosperity. Our innovative model gets young people excited about making smart financial decisions and starts them down the path toward economic success – in turn, generating a financial ripple effect through families and entire communities.</p>

	<h5>Vision</h5>
	<p>We envision a world in which: every teenager, regardless of background, enters adulthood equipped with the knowledge, skills, and tools to navigate the financial challenges of the real world; and every sector of society - from high school education to Washington to Wall Street - is led by fiscally and socially responsible leaders.</p>


  </div>

  <div class="small-4 columns">
    <h3>Upcoming Events!</h3>
  </div>
</div>